name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_call:

jobs:

  build:
    strategy:
      matrix:
        toolchain: [stable, nightly]

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - run: sudo apt update
    - run: sudo apt install ffmpeg -y # Install ffmpeg for ffprobe, so issue #39 test can pass
    - run: rustup default ${{ matrix.toolchain }}
    - run: rustup update
    - run: cargo build
    - run: cargo test

  style:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - run: cargo fmt -- --check
    - run: cargo clippy
